*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    direction: rtl;
}
.quiz-app{
    margin: 20px auto;
    width: 800px;
    padding: 15px;
    background-color: #f8f8f8;
}
.quiz-app .quiz-info{
    display: flex;
    background-color: #fff;
    padding: 20px;
}
.quiz-app .quiz-info .category{
    flex: 1;
}
.quiz-app .quiz-info .count{
    text-align: right;
}
.quiz-app .quiz-area{
    padding: 20px;
    margin-top: 15px;
    background-color: #fff;
}
.quiz-app .quiz-area h2{
    margin: 0;
}
.quiz-app .answer-area{
    padding: 0 20px 20px;
    background-color: #fff;
}
.quiz-app .answer-area .answer{
    padding: 15px;
    background-color: #f9f9f9;
}
.quiz-app .answer-area .answer:not(:last-child){
    border-bottom: 1px solid #dfdfdf;
}
.quiz-app .answer-area .answer input[type="Radio"]:checked + label{ /* ال انبوت الى نوعه ريديو لو تشيكد هتخلى ال لابول الى بعدة لونه */
    color: #0075ff;
}
.quiz-app .answer-area .answer label{
    cursor: pointer;
    font-weight: bold;
    color: #777;
    font-size: 14px;
    margin-right: 5px;
    position: relative;
    top: -1px;
}
.quiz-app .sunbmit-button{
    background-color: #0075ff;
    display: block;
    width: 100%;
    padding: 14px;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    margin: 20px auto;
}
.quiz-app .sunbmit-button:focus{
    outline: none;
}
.quiz-app .bullets{
    border-top: 1px solid #dfdfdf;
    background-color: #fff;
    display: flex;
    padding: 20px;
}
.quiz-app .bullets .spans{
    flex: 1;
    display: flex;
}
.quiz-app .bullets .spans span{
    width: 20px;
    height: 20px;
    background-color: #ddd;
    margin-left: 5px;
    border-radius: 50%;
}
.quiz-app .bullets .spans span.on{
    background-color: #0075ff;
}
.quiz-app .results span{
    font-weight: bold;
}
.quiz-app .results .bad{
    color:#dc0a0a;
}
.quiz-app .results .good{
    color:#009688;
}
.quiz-app .results .perfect{
    color:#0075ff ;
}
@media screen and (max-width:600px){
    .quiz-app{
        margin:2;
        width:100%;
        padding:2px;
        background-color: #f8f8f8;
    } 
}